@page
@model WebPOS.Pages.POS.IndexModel
@using WebPOS.Models
@{
    var name = Model.BusinessType;
    var foodModel = new POSFoodViewModel
    {
        Tables = Model.Tables,
        Orders = Model.Orders,
        Categories = Model.Categories,
        Products = Model.Products,
        Business = Model.Business
    };
}
<h1>POS Cashier Interface</h1>

@if (name == "default")
{
    ViewData["Categories"] = Model.Categories;
    ViewData["Products"] = Model.Products;
    ViewData["SelectedCategoryId"] = Model.SelectedCategoryId;
    ViewData["Cart"] = Model.Cart;
    <partial name="_POSDefault" model="Model.Business" />
}
else if (name == "café" || name == "restaurant")
{
    <partial name="_POSFood" model="foodModel" />
}
else if (name == "barber" || name == "beauty shop" || name == "service general")
{
    <partial name="_POSService" model="Model.Business" />
}
else
{
    <div>
        <strong>No supported business type found.</strong>
    </div>
}
